*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* body{
    background-color: aqua;
} */
header{
    background-color: #fcaa70;
    padding-top: 50px;
    
}
.logo{
    font-size: 45px;
    font-weight: 900;
}
#red{
    color: #FD6E0A;
}
nav{
    width: 71%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type:none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color:#FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

