*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* body{
    background-color: aqua;
} */
header{
    background-color: #fcaa70;
    background: url("images/developer.png") , url("images/header_bg.png"),#fcaa70;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
    
}
.logo{
    font-size: 45px;
    font-weight: 900;
}
#red{
    color: #FD6E0A;
}
nav{
    width: 71%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type:none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color:#FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#bannar{
    border: 1px solid red;
    margin: 47px 38px 0 230px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bannar .bannar-content{
    width: 585px;
}
#bannar .bannar-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#bannar .bannar-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#bannar .bannar-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px ;
    margin-bottom: 30px;
}
#bannar .bannar-image img {
    max-width: 585px;
    vertical-align: middle;
}